body{
	font-family:'Fjalla One',sans-serif;

}
header{
	font-family:'Lobster';
	margin:0px auto;
	border-bottom: 1px black;
}

#wrapper{
	width:960px;
	margin:0px auto;
	
}
#logo{
	margin: 0px auto;
	display:block;
	text-align:center;
	font-size:44px;
}
#nave{
	margin: 0px auto;
}

#nav a{	
	display: inline-block;
	width:20px;
	margin:0px 50px;
}
