body{
	font-family:'Fjalla One',sans-serif;
	margin:0px;

}
#header{
	font-family:'Lobster';
	margin:20px auto;
	display:block;
	padding:10px;
	height:140px;
	margin:0px;

}
a{
	text-decoration: none;
	color: black;
}
a:selected{

}
#wrapper{
	width:960px;
	margin:0px auto;
}
#logo h1{

	margin:10px;
	margin-left:35px;
}
#logo{
	display:inline-block;
	margin: 0px auto;
	text-align:center;
	font-size:44px;
}
#nav{
	float:right;
	display:inline-block;
	margin-top: 60px;
	height:50px;
	width:700px;

}

#nav a{	
	display:inline-block;
	width:160px;
	margin:0px 0px;
	color:#333;
	text-align:center;
	font-size: 24px;
	font-family: Arial;
}

#top{
	height:20px;
	background-color:black;
	margin: 0px;
}