body{
	font-family:'Open Sans',sans-serif;
	margin:0px;
	height:100%;
}
#header{

	font-family:'Lobster';
	margin:20px auto;
	display:block;
	padding:10px;
	height:70px;
	margin:0px;
	border-bottom: 1px solid black;
	max-width:960px;
	min-width:600px;
}
a{
	text-decoration: none;
	color: black;
	-webkit-transition: all .3s;
}
a:selected{

}

#wrapper{
	width:960px;
	margin:0px auto;
	min-height:100%;
	margin: 0 auto -15px;
}
.titleblock{
	font-size:28px;
	padding:20px 0px;
	text-align:center;
}
#logo h1{

	margin:10px;
	margin-left:0px;
}
#logo{
	display:inline-block;
	margin: 0px auto;
	text-align:center;
	font-size:20px;
}
	#logo img{
		display:inline-block;
		float:left;
		height:75px;
	}
	#logo h1{
		display:inline-block;
		float:left;
	}

#nav{
	float:right;
	display:inline-block;
	margin:auto 20px;
	margin-top:20px;
}
div{
	display:block;
}
#nav a{	
	font-family:"Open Sans Condensed, sans-serif";
	display:inline-block;
	width:80px;
	
	border-radius:3px;
	margin:0px 0px;
	color:#333;
	text-align:center;
	font-size: 14px;
	font-family: Arial;
	vertical-align:50%;
	padding:10px;
}

#nav a:hover{
	background-color:#333;
	color:#DFFFA5;
}

#main{
	padding:10px;
}

.column{
	display:inline-block;
	width:295px;
	height:800px;
	float:left;
	border-right:3px #DFFFA5 solid;
	margin-right:15px;
	font-size:12px;
}
	.column h3{
		font-size:20px;
	}
#remove{
	display:inline-block;
	float:right;
}

#top{
	height:14px;
	background-color:#DFFFA5;
	margin: 0px;
}

#friends_sec span{
	font-family:'Lobster';
	font-size:35px;
	font-color:#333;
}

.profile{
	display:inline-block;
	width:225px;
	margin:20px;

}

html, body {
    height: 100%;
}

#footer{
	text-align:center;
	background-color:#DFFFA5;
	height:14px;
	display:block;
	font-size:12px;
	 position:fixed;
   left:0px;
   bottom:0px;
   height:14px;
   width:100%;
}

.classes a{
	text
}